/**
* global style
*/
#navbar {
    padding: 1.85vh 0;
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

/**
* theme style
*/
.light #navbar {

    background: #2c3e50;
}

.light #navbar ul li a {

    color: #ecf0f1;
}

.dark #navbar {
    
    background: #bdc3c7;
}

.dark #navbar ul li a {
    
    color: #2c3e50;
}

.alternate #navbar {

}
.alternate #navbar ul {

}

/**
* responsive style
*/
@media screen and (max-width: 450px) {

    #navbar ul {
        flex-direction: column;
        align-items: center; 
    }

    #navbar ul li {

        margin: .85vh 0;
    }
}