/**
* global style
*/
#navbar {
    /* min-height:6%; */
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#navbar ul li {

    padding: 2vh;
}
#navbar ul li a {

    position: relative;
}

#navbar ul li a:hover::before  {

    content: '' ;
    position: absolute;

    width: 0;
    height: .85vh;

    top: calc( 100% + 2vh - .85vh );
    left: 0;
    animation: underlineMiddle .28s linear forwards;
    -webkit-animation: underlineMiddle .28s linear forwards;
}

/**
* theme style
*/
.light #navbar {

    background: #2c3e50;
}

.light #navbar ul li a:hover::before {
    background: #00cec9;
}

.light #navbar ul li a {

    color: #ecf0f1;
}
.light #navbar ul li a.current {

    color: #00cec9;
}
.light #navbar ul li a.current::before {

    content: '';
    position: absolute;
    height: .85vh;
    background: #00cec9;
    width: 100%;
    top: calc( 100% + 2vh - .85vh );
    animation: none;
    -webkit-animation: none;
}

.dark #navbar {
    
    background: #bdc3c7;
}

.dark #navbar ul li a {
    
    color: #2c3e50;
}

.alternate #navbar {

}
.alternate #navbar ul {

}

/**
* responsive style
*/
@media screen and (max-width: 450px) {

    #navbar ul {
        flex-direction: column;
        align-items: center; 
    }

    #navbar ul li a:hover::before {

        height: .42vh;
        top: 100% ;
    }
}