#contact {

    padding: 4vh;
    margin: 6vh 0;
}

#contact.light {

    background: rgba(35,35,35,.7);
}

#contact.light ,
#contact.light form input ,
#contact.light form textarea ,
#contact.light form button {

    color: #fff;
}


#contact.light form input {

    border-color: #fff;
}

#contact.light form textarea {

    border-color: #fff;
}

#contact.light form button {

    background: rgba(255,255,255.75);
    color: rgb(35,35,35);
}

#contact.light form button {

    background: rgba(255,255,255.75);
    color: rgb(35,35,35);
}

#contact.light form button:hover {

    background: transparent;
    color: #fff;
    border-color: #fff;
}

#contact form label {

    text-align: center;
    display: block;
}

#contact form div {

    margin: 3vh;
}

#contact form input , #contact form textarea {

    display: block;
    width: 100%;
    background: transparent;
    border: none;
}

#contact h2 {

    text-align: center;
    font-weight: 600;
    margin-bottom: 6vh;
}

#contact form textarea {

    resize: none;
    height: 25vh;
    border-left: 2px solid transparent;
    padding-left: 3vh;
}

#contact form input {

    height: 6vh;
    border-bottom: 2px solid transparent;
}

#contact .send-status {

    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .send-status a {

    display: flex;
    align-items: center;
}

#contact.light .send-status a {

    color: #00cec9;
}

.hide {

    display: none;
}

#contact form button {

    padding: 2vh 4vh;
    width: 100%;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    border:2px solid transparent;
    transition: .18s linear all;
    margin-top: 5.3vh;
}