
.dragger-active:hover .dragger ,
.dragger-active:focus .dragger
{

    display: block;
}

.dragger {

    z-index: 99999999;
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 100%;
    padding: .4vh 1.2vh;
    padding-bottom: 2vh;
    display: none;
}

.dragger .dragger-item span {

    cursor: pointer;
}

.light .dragger {

    background: #dfe6e9;

}

.light .dragger .dragger-item span:hover {

    color:  #2c3e50;
}

.dark .dragger {

    background: #232323;
}
.dark .dragger .dragger-item span {

    color: #bdc3c7;
}

.dark .dragger .dragger-item span:hover {

    color:  #fff;
}

.alternate .dragger {

    background: #8e44ad;
}
.alternate .dragger .dragger-item span {

    color: #bdc3c7;
}

.alternate .dragger .dragger-item span:hover {

    color:  #fff;
}