ul.anchors-list {

    margin: 0;
    padding: 0;
}

ul.anchors-list li {

    padding: 2.6vh;
    transition: .35s linear all ;
}

ul.anchors-list li a {

    text-transform: uppercase;
    font-weight: 600;
}

.dark ul.anchors-list li a {

    color: #30336b;
}

.dark ul.anchors-list li:hover {

    background: rgba(44, 62, 80, .18) ;
}

.light ul.anchors-list li a {

    color: #00cec9;
}

.light ul.anchors-list li:hover {

    background: rgba(255, 255, 255, .18) ;
}

.alternate ul.anchors-list li a {

    color: #332940;
}

.alternate ul.anchors-list li:hover {

    background: rgba(51, 41, 64, .2) ;
}
