main { 
    display: flex;
    min-height: 100%;
}

.main-children {

    flex:2;
}

.wrap-children {

    width: 80%;
    min-width: 375px;
    margin: auto;
}

main.light {}

main.dark {}

main.alternate {}


@media screen and (max-width:575px) {

    .wrap-children {

        width: 95%;
    }
}