.wrap-tablebar {
    transition: .3s linear transform;
}

.wrap-tablebar section button {

    width: 100%;
    padding: 0;
    border: none;
    background: none;
}

.wrap-btn-reversed {

    margin-bottom: 4.5vh;
}

.font-collapse-table-bar {

    text-align: center;
}

.font-collapse-table-bar svg  {

    padding: 1.8vh;
    cursor: pointer;
}

.wrap-tablebar.close {

    position: relative;
}

.wrap-tablebar.close.left {

    transform: translateX( -70% ) ;
}
.wrap-tablebar.close.right {

    transform: translateX( 70% ) ;
}

.wrap-tablebar.close.left .font-collapse-table-bar {

    text-align: right ;
}

.wrap-tablebar.close.right .font-collapse-table-bar {

    text-align: left ;
}



.wrap-tablebar.close .wrap-anchors-list ,
.wrap-tablebar.close .wrap-btn-reversed
{

    visibility: hidden;
}

.dark .wrap-tablebar {

    background: #bdc3c7;
}

.light .wrap-tablebar {

    background: #2c3e50;
}

.alternate .wrap-tablebar {

    background: linear-gradient(#ff7700 , #c23616);
}


@media screen and (max-width:575px) {

    .wrap-tablebar {

        display: none;
    }
}