/**
* global style theme (align , dim , position , box model , transition , ... )
*/
.wrap-nav-items ul {
    
    padding: 0;
    position: relative;
    display: flex;
}

.wrap-nav-items li {

    transition: .3s linear;
}

.wrap-nav-items ul li {

    position: relative;
}

.wrap-nav-items ul li {

    width: 33%;
    padding: 3vh 1vh;
    position: relative;
}

.wrap-nav-items ul li div.title-banner {

    text-align: center;
}

.wrap-nav-items ul li div.title-banner a {

    padding: 1.5vh 2.5vh;
    transition: .35s linear background;
}

.wrap-nav-items ul li h2 {
    margin: 0;
    font-weight: 600;
}

.wrap-nav-items ul li::before {

    content: '' ;
    position: absolute;
    height: 15px;
    width: 100%;
    left: 0;
    top: -15px;
    
}


section.hackathon aside figure figcaption p a {
    
    color: #1da1f2!important ;
}

section aside figure figcaption p a {
    
    color: #fff ;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

section aside figure figcaption p a:hover::before {
    
    content: '' ;
    position: absolute;
    left:0;
    top: 100%;

    width: 0;
    height: 2px;
    background: goldenrod;

    animation: underlineMiddle .28s linear forwards;
}   

.wrap-nav-items ul li.hackathon::after {

    background-color: rgb(29, 161, 242) ;
    background-image: url("./hackathon.png") ;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s linear;
    /* z-index: 999999; */
}

.wrap-nav-items ul li.tools-web-dev::after {

    background-color: rgb(241, 224, 90) ;
    background-image: url("./banch-git.png") ;
    background-size: contain;
}

.wrap-nav-items ul li.wf3::after {

    background-color: #262b44 ;
    background-image: url("./wf3.png") ;
    background-size: contain;
}

.wrap-nav-items ul li:hover::after {

    content: '' ;
    transform: scale(0) ;
}

.wrap-nav-items ul li::after {

    content: '' ;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s linear;
}
.wrap-nav-items ul li {

    margin: 45px 1.2vh;

}

/**
* dark style theme
*/
.wrap-nav-items.dark ul li div.title-banner a:hover {

    background: rgba( 255,255,255,.15 ) ;
}

.wrap-nav-items.dark ul li h2 {
    color: #fff;
}

.wrap-nav-items.dark ul li {

    background: rgba( 0,0,0,.7);
}

.wrap-nav-items.dark ul li::before {

    background: rgba( 255,255,255,.7);
}

/**
* light style theme
*/
.wrap-nav-items.light ul li div.title-banner a:hover {

    background: rgba( 0,0,0,.15 ) ;
}

.wrap-nav-items.light ul li h2 {
    color: rgb(35,35,35);
}

.wrap-nav-items.light ul li {

    background: rgb(255, 255, 255 , .7 );
}

.wrap-nav-items.light ul li::before {

    background: rgba( 0,0,0,.7);
}

/**
* alternate style theme
*/
.wrap-nav-items.alternate ul li div.title-banner a:hover {

    background: rgb(51, 41, 64, .15) ;
}

.wrap-nav-items.alternate ul li h2 {
    color: #fff;
}

.wrap-nav-items.alternate ul li {

    background: linear-gradient(22.5deg , #ff7700 , #da583b);
}

.wrap-nav-items.alternate ul li::before {

    background: rgba(234, 128, 252, .5);
}


/**
* responsive style
*/
@media screen and (max-width: 1100px) {

    .wrap-nav-items ul {

        flex-direction: column;
    }

    .wrap-nav-items ul li {

        width: 100%;
    }

    
    .wrap-nav-items ul li {

        margin: 15px 0;
    }

    .wrap-nav-items ul li figure {

        text-align: center;
    }

}

@media screen and (max-width: 700px) {

    .wrap-nav-items ul li aside {

        display: none;
    }

    .wrap-nav-items ul li section.hackathon::before {

        background-size: contain;
    }

}

@media screen and (max-width: 575px) {
    
    .wrap-nav-items {
        
        width: 85%;
        margin: auto;
    }
}
