.ytb-integrate {

    text-align: center;
    padding: 3vh 1vh;
    margin: 4vh 0;
}

.ytb-integrate h2 {

    font-weight: 600;
}

.ytb-integrate iframe {

    border: none;
    width: 85%;
    margin: auto;
    width: 90%;
    height: 60vh ;
}

.ytb-integrate.dark {

    background: rgba( 255,255,255 , .8 );
}