@keyframes underline {

  from {
    width: 0;
  }
  
  to {
      width: 100%;
  }

}

@-webkit-keyframes underline {

  from {
    width: 0;
  }
  
  to {
      width: 100%;
  }

}
@keyframes underlineMiddle {

  from {
    width: 0;
    margin-left: 50%;
  }
  
  to {
      width: 100%;
  }

}

@-webkit-keyframes underlineMiddle {

  from {
    width: 0;
    margin-left: 50%;
  }
  
  to {
    width: 100%;
  }

}

html , body , #root {

  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* h1 =>"Lexend Deca" , "Lexend Exa" */

h1 {

  font-family: "Lexend Exa" , "Lexend Deca";
}

figcaption {

  font-family: "Oswald" ; 
}

blockquote {

  font-family: "Lexend Zetta" , 'Open Sans Condensed' ;
}

h2 {

  font-family:  "Source Code Pro" , "Fjalla One" ;
}

p {

  font-family: "Exo 2" , "Maven Pro" , "Mukta" , sans-serif , serif ;
}

a {

  font-family: "Monda" ;
}

nav a {

  font-family: "Righteous" ;
  letter-spacing: .15rem;
  font-weight: normal;
}

html {

  overflow-x:  hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a , img , button {
  display: inline-block ;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.flex-reversed {

  flex-direction: row-reverse ;
}

.hide {

  display: none;
}

.v-hidden {

  visibility: hidden;
}
