@keyframes underline {

  from {
    width: 0;
  }
  
  to {
      width: 100%;
  }

}

@-webkit-keyframes underline {

  from {
    width: 0;
  }
  
  to {
      width: 100%;
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a , img , button {
  display: inline-block ;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}